@import "~bootstrap/css/bootstrap";

body {
    font-family: system-ui;
    background-color: rgb(195, 195, 195);

}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 195, 195);

}

h1,
h2 {
    color: #ffffff;
    background-color: #0085b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 60%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

h3[name="entreprise"] {
    color: #ffffff;
    background-color: #0085b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    color: #ffffff;
    background-color: rgb(195, 195, 195);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 60%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

a {

    color: #2ea81c;
    background-color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

a:hover {
    color: white;
    background-color: #2ea81c;
    text-decoration: none;
}

td {
    color: #ffffff;
    text-align: center;
    background-color: #1c57c5;

}

th {
    text-align: center;
    background-color: #ffffff;
    color: #0f6bbd;
}

div {
    text-align: center;
    background-color: rgb(195, 195, 195);
}

input[type="text"],
input[type="mail"],
button {
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    width: auto;
    color: black;
}

input[type="submit"],
select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
}

input[name="modifier"] {
    width: 80%;
}

input[name="ajouter"] {
    color: white;
    background-color: #2ea81c;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

input[name="ajouter"]:hover {
    color: #2ea81c;
    background-color: white;
    text-decoration: none;
}

footer {
    display: block;
}

.BasDePage {
    text-align: center;
    color: #fff;
    background-color: #0f6bbd;
}